In [ ]:
OPERATORS + Addition
- subtraction
* multiplication
/ dividion
// floor division
** power or exponent
% modulus (having remainder)

In [2]:
5 + 7

12

In [3]:
5.0+2.7

7.7

In [4]:
"muhammad"+ "qasim"

'muhammadqasim'

In [6]:
["1","2"]+["A","B"]

['1', '2', 'A', 'B']

In [7]:
{"1","2"}+{"A","B"} #not with set

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
["A":"1","B":"2"]+["A":"X","B":"Z"]

SyntaxError: invalid syntax (<ipython-input-8-0ed3738a3084>, line 1)

In [9]:
20-12

8

In [10]:
25.7-9

16.7

In [11]:
3*2

6

In [12]:
{3,7,8}-{2,3,8}

{7}

In [13]:
[3,7,8]-[2,3,8] #not with list

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [14]:
"A"*3

'AAA'

In [15]:
"yasmeen"*3

'yasmeenyasmeenyasmeen'

In [16]:
{"1,2,3"}*3 #not with set

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [17]:
"sonia"*4

'soniasoniasoniasonia'

In [18]:
2**3 #power

8

In [19]:
12/3

4.0

In [20]:
12/3.0 # its float

4.0

In [21]:
11/3

3.6666666666666665

In [23]:
11//3  # it ignores vales after decimal point / floor division

3

Modulus = remaining value after division

In [24]:
11%3  #modulus or remainder value

2

# COMPARISON OPERATORS

== equal
< greater than
> less than
<= less than eqaul
>= greater than equal
!= not eqaul
<> not equal

In [26]:
''"Qasim"=="qasim"

False

In [28]:
"qasim"=="qasim"

True

In [29]:
'qasim'=="qasim"

True

In [30]:
2==2.0 #data type is change

True

In [31]:
a=2 
b=2
a==b

True

In [32]:
6>10

False

In [33]:
10>6

True

In [34]:
10>10

False

In [35]:
10>=10    #10>9

True

In [36]:
11>=10

True

In [37]:
12>9

True

In [38]:
"A">"B"

False

In [39]:
"B" > "A" # aski value of alphabets

True

In [40]:
chr (65)

'A'

65= A  90=z
97 = a  122 =b
948 = 0  57=9

In [42]:
chr(48)  #ASCII CODE AMERICAN CODE

'0'

In [43]:
ord ("A")

65

In [44]:
chr(66)> chr (65)

True

In [45]:
3<6

True

In [46]:
2<=3

True

In [48]:
'qasim'<>"Qasim"

SyntaxError: invalid syntax (<ipython-input-48-80a2ffa0c9a7>, line 1)

In [56]:
2!=3

True

# ASSIGNMENT OPERATORS

In [55]:
a =5
a=6
a=9
a=6
print(a)  #override

6

In [58]:
a = 1
a= a+2  # 1+2
a= a+3
a= a+4
print(a)

10

In [54]:
a = 1
a += 2
a += 3
a += 4
print(a)

10

In [60]:
a = 100
a -= 2 #98
a -=3 #95
a-= 4 #91
print(a)

91

In [61]:
a = 1
a *= 2 #2
a *=3 #6
print(a)

6

In [63]:
a = 1
a **=2
print(a)

1

In [64]:
a = 3 
a **=4
print(a)

81

In [65]:
a = "A"
a *=3
print(a)

AAA

In [67]:
a = "A"
a += "B"
a += "c"
print(a)

ABc

# Logical Operators

In [ ]:
#to compare more than one values
and = &
or = |   #optional
not = != , <>

In [70]:
user = "qasim"
password = 123
print(user =="qasim")
print(password==  123)

True
True

In [72]:
# and check more than one logics
True and True and True and True

True

In [73]:
ture & true & true & false # not true even one is false

NameError: name 'ture' is not defined

In [80]:
a = "A"
b = "B"

print(a =="A") & (b == "B")

True

TypeError: unsupported operand type(s) for &: 'NoneType' and 'bool'

In [84]:
True|True|True|True

True

In [85]:
    True|False|True|True    # either there is a false

True

In [93]:
user = input ("user name")
passwors = input ("password")

(user == "Qasim" or user == "Admin" or user == "ABC")\
and password == "abc"

user nameQasim
passwordabc

False

In [90]:
not (True and True)

False

# BITWISE OPERATORS

8, 7, 6, 5, 4, 3, 2, 1, 0
2, 2, 2, 2, 2, 2, 2, 2, 2
==========================
   256,128,64,32,16,8, 4,2,1  
    
    #exapmle 
     from right side
     
     
    11101   =  1+4+8+16 =29
   
    
    11100 = 28

In [ ]:
AND OPERATORS
    1110 =29
    11100 = 28 
    
    11101
    11100
    ======
    11100 = 28

In [94]:
28 & 29

28

In [96]:
 
29  | 28 # or operator

29

In [ ]:
  OR operator
    
    1110 =29
    11100 = 28 
    
    11101
    11100
    ======
    11100 = 28

In [ ]:
  xOR operator
    
    1110 =29
    11100 = 28 
    
    11101
    11100
    ======
    00001 = 1

In [ ]:
LEFT SHIFT OF BINARY CODES AND    RIGHT SHIFT
#11101
29<<2 
00111

RIGHT

# 11001 =25
#LEFT SHIFT  1100100  = 100
RIGHT SHIFT  0010   = 6

In [97]:
25<<2

100

In [99]:
25>>2

6

# membership operators

In [108]:

names = ["qasim", "hamza","sajjawal"]
for name in names :
    if name == "qasim":
print("true")

IndentationError: expected an indented block (<ipython-input-108-14264642546e>, line 4)

In [103]:
"qasim" in names

NameError: name 'names' is not defined

In [110]:
"pakistan" in " A B C pakistan"

True

# identity operators

In [111]:
a = "5"
b = 5 
c = a
print (a==b)
print(a==c)

False
True

# Control Flow 
if else elif

if logic:    #four indent space for blocks
    code run if logic true

else: 
    code run of logic false

In [112]:
if True :
    print("Pakistan")
else:
    print("zindabad")

Pakistan

In [114]:
if False :
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
    
else:
    print("zindabad")

zindabad

True_block if logic else False_block    # comprehensive

In [117]:
"Pakistan" if False else "xindabad"

'xindabad'

In [ ]:
user = input("name")
password = input("123")
if (user == "sara" or user == "samra")/
and password == "123"

In [ ]:
user = input ("user name")
password = input ("password")

(user == "Qasim" or user == "Admin" or user == "ABC")\
and password == "123"